@model IEnumerable<Student>
@{
    Layout = null;
}

<!DOCTYPE html>


<h3>Students in course with id : @ViewBag.CourseId</h3>
<html>
    <head>
        <body>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="text-danger">
                <td colspan="5">No students Exists </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.StudentName</td>
                    <td>
                                @* <a asp-action="DeleteStudent" asp-controller="instructor" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a> *@
                                <form method="post" asp-action="DeleteStudent" asp-controller="instructor" asp-route-studentId="@item.StudentId" asp-route-courseId="@ViewBag.CourseId">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>


                 
                    </td>


                </tr>

            }
        }
    </tbody>
</table>

    </body>
</head>

</html>
<a asp-action="AddStudent" asp-controller="instructor" asp-route-CourseId="@ViewBag.CourseId" class="btn btn-primary">Add New Student </a>
            
