@model IEnumerable<ExamQuestions>
@{
    ViewData["Title"] = "StartExam";
}

<h1>StartExam</h1>
<form method="post">
@foreach(var item in @Model)
{
    <h3>@item.Question.QuestionBody</h3>

    @foreach (var choice in @item.Question.ChoicesList)
    {
        <input type="radio" value="@choice.ChoiceId" name="@item.QuestionId"/>    
        <label>@choice.ChoiceBody</label>
        <br />    
    }
}
<input class="btn btn-success" type="submit" value="Submit"/>
</form>


